*{
    margin: 0;
    padding: 0
}
.wrapper{
    position: relative;
    background-image: url(../assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    z-index: 40;
    height: 100vh;
}
.opacity {
  background: rgba(79,70,62,0.5);
  height: 100%;
  position: absolute;
  width: 100%;
z-index: -1;
}
.gravity {
	width: 100%;
	text-align: center;
	padding: 40px 0;
}
.gravity .logo{
  width: 200px;
}
.gravity p {
  color: #d0d0d0;
  font-family: "Raleway",sans-serif;
  font-size: 23px;
  font-weight: 600;
  text-align: center;
    padding-top: 20px
}
.countdown .back-text h4{
    color: red;
    background: red
}
#countdown {
}
.countDays{
    position: relative;
}
.countDays::after{
    position: absolute;
    content: 'days';
    color: #fff;
    top: 0px;
    left: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
.countHours{
    position: relative;
}
.countHours::after {
  color: #fff;
  content: "hours";
  font-family: "Raleway",sans-serif;
  font-size: 20px;
  font-weight: 200;
  left: 2px;
  letter-spacing: 1px;
  position: absolute;
  top: 0;
}
.countMinutes{
    position: relative;
}
.countMinutes::after{
    position: absolute;
    content: 'minutes';
    color: #fff;
    top: 0px;
    left: -10px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
.countSeconds{
    position: relative;
}
.countSeconds::after{
    position: absolute;
    content: 'seconds';
    color: #fff;
    top: 0px;
    left: -10px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
.contact-bar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1000;
    font-family: 'Raleway', sans-serif;
}
.contact-item {
    text-align: center;
    font-size: 16px;
}
.contact-item i {
    margin-right: 8px;
    font-size: 18px;
}
.contact-item a {
    color: white;
    text-decoration: none;
}
.contact-item a:hover {
    text-decoration: none;
}
.contact-item span {
    font-size: 16px;
}

@media (max-width: 768px) {

  .wrapper {
    height: auto !important;
  }

  .contact-bar {
      position: relative;
  }
  
}