<div class="container-fluid footer position-relative text-dark py-2 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex text-center text-lg-start align-items-center">
                <div class="row">
                    <div class="contact-item py-2 col-12">
                      <i class="bi bi-whatsapp"></i>
                      <a href="https://wa.me/669558278">+34 669 55 82 78</a>
                    </div>
                    <div class="contact-item py-2 col-12">
                        <i class="bi bi-envelope"></i>
                        <a href="mailto:PodoArlazon@hotmail.com">PodoArlazon@hotmail.com</a>
                    </div>
                    <div class="contact-item py-2 col-12">
                        <i class="bi bi-geo-alt"></i>
                        <span>C. Vitoria, 53 bis., 09004 Burgos, España</span>
                    </div>
                    <div class="contact-item py-2 col-12">
                        <i class="bi bi-clock"></i>
                        <span>Lunes a Viernes: 09:30h a 13:30h y 16:00h a 20:00h.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-end pe-0">
                <a href="./index.html" class="navbar-brand">
                    <img class="logo2" src="img/logo.png" alt="logo">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center text-lg-start">
                <div class="row">
                    <div class="col-12 py-2 derechos">
                        <a href="privacy_policy.html">Política de Privacidad</a> |
                        <a href="cookies_policy.html">Política de Cookies</a> |
                        <a href="legal_advice.html">Aviso Legal</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 copyright text-center text-lg-end">
                <p class="mb-0">&copy; <a href="./index.html">Podología Arlanzón</a></p>
            </div>
        </div>
    </div>
</div>


<div id="cookieBar" class="cookie-bar">
    <p>Usamos cookies para mejorar tu experiencia. ¿Aceptas el uso de cookies?</p>
    <div class="cookie-buttons">
        <button id="acceptBtn" class="btn">Aceptar</button>
        <button id="rejectBtn" class="btn">Rechazar</button>
    </div>
</div>

<a href="#" class="btn btn-lg rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
